@import "https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Cabin:400,400italic";
@import url("variables.less");

/* Mixins - Google Fonts */ 
.serif {
  font-family: 'Sorts Mill Goudy', serif;

}
.sansSerif {
  font-family: 'Cabin', sans-serif;
}

.italic {
  font-style: italic;
}

body {
  .serif;
  background: #eee;
}

svg {

}

select {
  display: block;
}

p {
  background: @red;
  display: inline-block;
  color: @white;
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin: 0.25em; 
  border: 1px solid @red;
  transition: all 0.25s; 
}

p#submit:active,
p#submit:focus,
p#submit:hover {
  background: @white;
  color: @red;
  border: 1px solid @red;
}

.footer {
  background: @darkGrey;
  color: @white;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 1em 0 1em 0;
}

@media (max-width: 767px)  {
  select {
    width: 90%;
    font-size: 1em;
    margin-bottom: 1em;
  }
  input[type=number] {
    width: 90%;
    margin-bottom: 1em;
  }
}
